*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #9197AE !important;
}
h1{
    background-color: #273043;
    color: #EFF6EE;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 30px !important;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formulario input{
    margin-bottom: 25px !important;
    width: 40%;
}