<div>
    <h3 style="
        color:#ffc107; 
        background-color: #212529; 
        padding-bottom: 8px;
        border-radius: 10px;">Carga de Productos</h3>
    <form class="prod-form" id="add" action="/productos" method="POST">
        <div class="d-flex flex-column align-items-center">
            <input type="text" name="name" class="form-control" placeholder="Producto" style="margin-bottom: 10px;">
            <input type="text" name="price" class="form-control" placeholder="Precio" style="margin-bottom: 10px;">
            <input type="text" name="url" class="form-control" placeholder="Img" style="margin-bottom: 10px;">
            <button type="submit" class="btn btn-warning">Ingresar Producto</button>
        </div>
    </form>
</div>